* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}

body {
  background-color: #e3e3e3;
  display: flex;
}

header {
  width: 70px;
  height: 100vh;
}

nav {
  background-color: #d9d9d9;
  width: 70px;
  height: 100vh;
}
nav li {
  text-align: center;
  padding-top: 20px;
}
nav li i{
  background-color: transparent;
  color: black;
  /*padding: 10px;*/
  width: 48px;
  height: 45px;
  border-radius: 10px;
  font-size: 25px;
  padding-top: 10px;
}
nav li i:hover, .active{
  background-color: black;
  color: white;
}
svg:hover {
  fill: black;
}

#abajo {
  position: absolute;
  bottom: 20px;
  width: 70px;
}


main{
  width: calc(100vw - 70px);
  height: 100vh;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
} 

.inferior img{
  position: relative;
  width: 61.85vw;
  height: 87vh;
  object-fit: contain;
}

.superior {
  position: absolute;
  background-color: rgba(192, 192, 192, 0.7);
  width: 45%;
  height: 230px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 38px;
}

.main-container {
  display: flex;
  height: calc(100vh - 162px);
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  padding: 35px 0px 35px 0px;
}

/* Formularios */
input {
 border-radius: 30px; 
 padding: 4px 8px 4px 24px;
 color: #797979;
 border-color: transparent;
 outline: none;
 font-size: 18px;
 height: 50px;
}
input::placeholder {
  color: #797979;
}
.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.small-input {
  width: 48%;
}
.large-input {
  width: 100%;
}
#buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  height: calc(100% - 460px);
  align-items: flex-end;
}
#buttons button {
  height: 50px;
  background-color: white;
  width: 30%;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}
#buttons button:hover {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}
.left, .right{
  width: 50%;
  display: flex;
  justify-content: center;
}
.left > form, #tabla {
  width: 90%;
}
table {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  height: calc(100% - 110px);
  /*border-radius: 10px;*/
  border: 3px rgba(121, 121, 121, 0.5) solid;
  border-collapse: collapse;
}
td, th {
  border-right: solid rgba(121, 121, 121, 0.5) 3px;
  text-align: left;
  padding-left: 10px;
}
th {
  height: 30px;
  border-bottom: 3px rgba(121, 121, 121, 0.5) solid;
  background-color: #c1c1c1;
}
.row-data:hover {
  background-color: #e3e3e3;
}

.right form {
  display: flex;
  align-items: flex-end;
}

input[type="search"]{
  width: 85%;
}

/* Checkbox */
.checkbox-wrapper-2 {
  transform: scale(2);
  position: relative;
  right: -40px;
  bottom: 10px;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}